# Copyright (C) 2020 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on init
    chown system system /sys/touchpanel/double_tap
    chmod 0600 /sys/touchpanel/double_tap

on property:sys.camera.face.unlock=*
    setprop vendor.camera.face.unlock ${sys.camera.face.unlock}

on property:sys.camera.miui.apk=*
    setprop vendor.camera.miui.apk ${sys.camera.miui.apk}

on property:sys.camera.not.cts.apk=*
    setprop vendor.camera.not.cts.apk ${sys.camera.not.cts.apk}

on property:sys.camera.not.ctsverify.apk=*
    setprop vendor.camera.not.ctsverify.apk ${sys.camera.not.ctsverify.apk}

on property:vendor.post_boot.parsed=1
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3
    write /sys/module/cpu_boost/parameters/input_boost_freq 0:1401600
    write /sys/module/cpu_boost/parameters/input_boost_ms 200

service adsprpcd_root /vendor/bin/adsprpcd
    class main
    user media
    group media

service adsprpcd /vendor/bin/adsprpcd audiopd
    class main
    user media
    group media

service vendor.cdsprpcd /vendor/bin/cdsprpcd
    class main
    user system
    group system
    disabled

service vendor.qfp-daemon /vendor/bin/qfp-daemon
    class late_start
    user system
    group system drmrpc diag input
